nav#sidebar
  .sidebar-header
    h3 Bootstrap Sidebar
  ul.list-unstyled.components
    li
      a(href="#homeSubmenu", aria-expanded="false", class="dropdown-toggle") Home
      ul.collapse.list-unstyled(id="homeSubmenu")
        li
          a(href="#") Home 1
        li
          a(href="#") Home 2
    li
      a(href="#") About
    li
      a(href="#") Contact